<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Generate Token</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/generatetoken">Generate Token</a></li>
      <li><a href="/burntoken">Token Burn</a></li>
    </ul>
  </nav>

  <div class="container">
    <div class="centered-buttons">
      <button class="neumorphism-button button-text" onclick="target()">Make Reservation / Reveal Token</button>
      <button class="neumorphism-button button-text" onclick="deletetoken()">New Token/<br>Delete Token</button>
    </div>
  </div>

  <p>Please watch the ad until the end. You will be redirected back to this page.</p>

  <script>
    function target() {
      window.location.href = '/route';
    }

    function deletetoken() {
      window.location.href = '/deletecookie';
    }
  </script>
</body>
</html>
