<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Token</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/generatetoken">Generate Token</a></li>
      <li><a href="/burntoken">Token Burn</a></li>
    </ul>
  </nav>

  <div class="site-logo" align="center">
  </div>
  <div class="container">
    <div class="card">
      <div class="neurocard"></div>
      <div class="discount-card-bg"></div>
      <div class="discount-card">
        <h2 class="heading">Your Token!</h2>
        <p class="label">Use code: <span id="discount-code">%message%</span></p>
        <button onclick="copyCode()" class="copy-button">Copy Code</button>
        <div class="message">Please do not close this tab until you haven't saved the token </div>
      </div>
      <div class="logo"></div>
    </div>
    <br>

  <div style="padding-right: 5vh;">
    <button onclick="deletetoken()" class="neumorphism-button button-text">New Token</button>
    <p>This button will automatically delete all cookies <br>from your browser and allow you to create a new token.</p>
  </div>
  </div>

  <script>
    function deletetoken() {
      window.location.href = '/deletecookie';
    }
    function copyCode() {
      const codeElement = document.getElementById('discount-code');
      const code = codeElement.innerText;

      navigator.clipboard.writeText(code)
        .then(() => {
        })
        .catch((error) => {
          console.error('Failed to copy code to clipboard:', error);
        });
    }
  </script>
</body>
</html>
