<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Delete Cookies</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body style="background-color: green;">
  <nav class="navbar">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/generatetoken">Generate Token</a></li>
      <li><a href="/burntoken">Token Burn</a></li>
    </ul>
  </nav>

  <div align="center" class="countdown-container">
    <div  class="countdown-message success">
      Token Revoked Successfuly
    </div>
  </div>

</body>
</html>
